.search-com{
  padding: 10px;
  width: 400px;
  border: none;
  margin: 10px 0;
  font-size: 18px;
  background: #2e2e2e;
  color: #eeeeee;
  font-weight: 100;
}
.search-btn{
  padding: 10px;
  border: none;
  margin: 10px 0;
  font-size: 18px;
  background: #E9DC51;
  color: black;
  font-weight: 100;
  cursor: pointer;
}