<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Sheet View</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <div layout="row">
            <md-input-container>
                <label>Region</label>
                <md-select ng-model="model.filter.region" ng-required="true">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="(region, value) in model.regions track by $index" ng-value="region">
                        {{region}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Project</label>
                <md-select ng-model="model.filter.project">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="project in model.regions[model.filter.region] track by $index" ng-value="project.projectId">
                        {{project.projectName}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Months</label>
                <md-select ng-model="model.filter.month" ng-required="true">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="month in model.months track by $index" ng-value="month">
                        {{month}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Year</label>
                <md-select ng-model="model.filter.year" ng-required="true">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="year in model.years track by $index" ng-value="year">
                        {{year}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <md-button ng-click="model.go(model.filter)">Go</md-button>
            </md-input-container>
        </div>

        <table>
            <tbody>
                <tr ng-repeat="file in model.files track by $index">
                    <td>
                        <a href="">{{ file }}</a>
                    </td>
                </tr>
            </tbody>


        </table>

    </md-card-content>
</md-card>