//@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.clear-fix{
  clear: both;
}

table.admin{
  width:100%;
  text-align:left;
  border-collapse:collapse;
  th,td{
    padding:10px;
    border: 1px solid #eeeeee;
  }
  tr{
    &:nth-child(even){
      background : #eeeeee;
    }
  }
}

.calendar-look{
  margin: 30px auto;
  display:inline-block;
  width:100%;
}

.admin{
  width: 100%;
  margin: 20px auto;
  max-width: 900px;
}
.fc-body{
  background: #fff;
}
.fc-day-number{
  font-size:30px;
  font-family: 'Lato', sans-serif;
}
.fc-time{
  display: none;
}
.fc-day-header{
  span{
    font-weight: 300;
  }
}

.md-nav-bar{
  background-color:#2E414F !important;
  color: #fff;
  a,button{
    color:#fff !important;
  }
}
.mod{
  vertical-align : middle;
  img{
    float : left;
    width :27px;
    height:27px;
    margin-right:5px;
    border-radius:100%;
  }
}

.fc-other-month,.fc-day-number{
  pointer-events: none;
  color:#888888;
}
.fc-header-toolbar{
  h2{
    font-weight: 300!important;
  }
}
.mod-theme{
  background: #2E414F!important;
}
.fc-event{
  border-radius:0px;
  background: #999999;
  border:none;
}

@import "../states/login/login";
@import "../states/admin/admin";