@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}

body{
  font-family: 'Quicksand', sans-serif;
}
.clear-fix{
  clear: both;
}

table.admin{
  width:100%;
  text-align:left;
  border-collapse:collapse;
  th,td{
    padding:10px;
    border: 1px solid #eeeeee;
  }
  tr{
    &:nth-child(even){
      background : #eeeeee;
    }
  }
}

.admin{
  width: 100%;
  margin: 20px auto;
  max-width: 800px;
}

@import "../states/login/login";
@import "../states/admin/admin";