    <div class="admin">
        <div layout="row" layout-wrap>
            <div flex="50" layout="row" layout-align="start center">
                <h2>Projects</h2>
            </div>
            <div flex="50" layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="model.showAdvanced($event)">
                    Add Project
                </md-button>
            </div>
        </div>

        <table class="admin">
            <thead>
            <tr>
                <th>Project name</th>
                <th>Client name</th>
                <th>Region</th>
                <th>Daily Email</th>
                <th>Team</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr grid-item ng-repeat="project in model.projects">
                <td>{{project.name}}</td>
                <td>{{project.client.name}}</td>
                <td>{{project.region}}</td>
                <td><input type="checkbox" ng-model="project.emailConfig.dailyStatusEnabled"></td>
                <td>
                    <span ng-repeat="team in project.teamMembers track by $index" title="{{team.email}}">{{team.name}}
                        <span ng-if="!$last">, </span>
                    </span>
                </td>
                <td><a href="" ng-click="model.editProject($event, project)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>

