.main {
  text-align: center;
  &--logo {
    max-width: 100px;
    margin: 10px auto;
    img {
      width: 100%;
    }
  }
  h1 {
    text-align: center;
    padding: 10px;
    font-weight: 100;
    font-size: 20px;
    small {
      font-weight: bold;
      color: #E9DC51;
      font-size: 32px;
    }
  }
  .orbit-button {
    padding: 5px;
    border: none;
    cursor: pointer;
    &.active {
      background: #E9DC51;
    }
  }
  .logout {
    button {
      cursor: pointer;
    }
  }
}