<md-dialog flex="30">
    <form  name="model.task_form" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{model.date}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" layout="column" layout-padding>

                <md-content class="md-no-momentum">
                    <div layout="row">
                        <md-input-container flex="70" class="md-block">
                            <label>Projects</label>
                            <md-select ng-model="model.obj.projectId" >
                                <md-optgroup label="items">
                                    <md-option ng-value="item.id" ng-repeat="item in model.projects track by $index">{{item.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex="30" class="md-block">
                            <label>Work Hours</label>
                            <input type="number" name="work_hour" min="1" max="12" ng-model="model.obj.workHours" ng-required="true">
                        </md-input-container>
                    </div>

                    <md-input-container md-no-float class="md-block" ng-repeat="task in model.obj.tasks track by $index">
                        <label>Task {{$index+1}}</label>
                        <input type="text" ng-model="model.obj.tasks[$index]" ng-required="true">
                        <md-icon ng-if="$last" ng-click="model.add()" md-svg-icon="src/img/ic_add_box_black_24px.svg" style="display:inline-block;"></md-icon>
                    </md-input-container>

                </md-content>
                </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button ng-disabled="model.task_form.$invalid || model.saving" ng-click="model.sendTask()" class="md-primary md-raised">Add Task</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
