<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
                            <label class="col-sm-4 control-label">Project Name</label>
                                <input type="text" ng-model="model.project.projectName" class="form-control"
                                       placeholder="Project Name">

                            <label class="col-sm-4 control-label">Client Name</label>
                                <input type="text" ng-model="model.project.clientName" class="form-control"
                                       placeholder="Client Name">

                            <label class="col-sm-4 control-label">Region Name</label>
                                <input type="text" ng-model="model.project.region" class="form-control"
                                       placeholder="Region Name">

                            <label class="col-sm-4 control-label">Client Config</label>
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="model.project.emailConfig.dailyStatusEnabled" type="checkbox">
                                        Daily Status
                                        Email
                                    </label>
                                </div>

                            <label class="col-sm-4 control-label"></label>
                                <tags-input
                                        ng-model="model.tagsTo"
                                        display-property="email"
                                        placeholder="To"
                                        replace-spaces-with-dashes="false"
                                >
                                    <auto-complete
                                            source="model.loadUsers($query)"
                                            debounce-delay="50"
                                            min-length="0"
                                            load-on-focus="true"
                                            load-on-empty="true"
                                            max-results-to-show="10"
                                    ></auto-complete>
                                </tags-input>


                            <label class="col-sm-4 control-label"></label>
                                <tags-input
                                        ng-model="model.tagsCc"
                                        display-property="email"
                                        placeholder="Cc"
                                        replace-spaces-with-dashes="false"
                                >
                                    <auto-complete
                                            source="model.loadUsers($query)"
                                            debounce-delay="50"
                                            min-length="0"
                                            load-on-focus="true"
                                            load-on-empty="true"
                                            max-results-to-show="10"
                                    ></auto-complete>
                                </tags-input>


                            <label class="col-sm-4 control-label"></label>
                                <tags-input
                                        ng-model="model.tagsBcc"
                                        display-property="email"
                                        placeholder="Bcc"
                                        replace-spaces-with-dashes="false"
                                >
                                    <auto-complete
                                            source="model.loadUsers($query)"
                                            debounce-delay="50"
                                            min-length="0"
                                            load-on-focus="true"
                                            load-on-empty="true"
                                            max-results-to-show="10"
                                    ></auto-complete>
                                </tags-input>


                                <input type="text" ng-model="model.project.emailConfig.subject" class="form-control"
                                       placeholder="Subject">


                            <label class="col-sm-4 control-label">Team</label>
                                <tags-input
                                        ng-model="model.project.teamMembers"
                                        display-property="name"
                                        placeholder="Add a user"
                                        add-from-autocomplete-only="true"
                                        replace-spaces-with-dashes="false"
                                >
                                    <auto-complete
                                            source="model.loadUsers($query)"
                                            debounce-delay="50"
                                            min-length="0"
                                            load-on-focus="true"
                                            load-on-empty="true"
                                            max-results-to-show="10"
                                    ></auto-complete>
                                </tags-input>


                            <label class="col-sm-4 control-label">Cut Off</label>
                                <md-datepicker ng-model="model.project.logWorkCutOffTime"></md-datepicker>

                            <label class="col-sm-4 control-label">Start Date</label>
                                <md-datepicker ng-model="model.project.startDate"></md-datepicker>

                            <label class="col-sm-4 control-label">End Date</label>
                                <md-datepicker ng-model="model.project.endDate"></md-datepicker>
                                <button type="submit" ng-click="model.save(model.project)"
                                        class="btn btn-default">Add Project
                                </button>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button md-autofocus>
                More
            </md-button>
            <span flex></span>
            <md-button>
                Not Useful
            </md-button>
            <md-button>
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
