<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Project</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <!--<div>-->


                <!--<label class="col-sm-4 control-label"></label>-->
                <!--<tags-input-->
                        <!--ng-model="model.tagsCc"-->
                        <!--display-property="email"-->
                        <!--placeholder="Cc"-->
                        <!--replace-spaces-with-dashes="false"-->
                <!--&gt;-->
                    <!--<auto-complete-->
                            <!--source="model.loadUsers($query)"-->
                            <!--debounce-delay="50"-->
                            <!--min-length="0"-->
                            <!--load-on-focus="true"-->
                            <!--load-on-empty="true"-->
                            <!--max-results-to-show="10"-->
                    <!--&gt;</auto-complete>-->
                <!--</tags-input>-->


                <!--<label class="col-sm-4 control-label"></label>-->
                <!--<tags-input-->
                        <!--ng-model="model.tagsBcc"-->
                        <!--display-property="email"-->
                        <!--placeholder="Bcc"-->
                        <!--replace-spaces-with-dashes="false"-->
                <!--&gt;-->
                    <!--<auto-complete-->
                            <!--source="model.loadUsers($query)"-->
                            <!--debounce-delay="50"-->
                            <!--min-length="0"-->
                            <!--load-on-focus="true"-->
                            <!--load-on-empty="true"-->
                            <!--max-results-to-show="10"-->
                    <!--&gt;</auto-complete>-->
                <!--</tags-input>-->


                <!--<input type="text" ng-model="model.project.emailConfig.subject" class="form-control"-->
                       <!--placeholder="Subject">-->


                <!--<label class="col-sm-4 control-label">Team</label>-->
                <!--<tags-input-->
                        <!--ng-model="model.project.teamMembers"-->
                        <!--display-property="name"-->
                        <!--placeholder="Add a user"-->
                        <!--add-from-autocomplete-only="true"-->
                        <!--replace-spaces-with-dashes="false"-->
                <!--&gt;-->
                    <!--<auto-complete-->
                            <!--source="model.loadUsers($query)"-->
                            <!--debounce-delay="50"-->
                            <!--min-length="0"-->
                            <!--load-on-focus="true"-->
                            <!--load-on-empty="true"-->
                            <!--max-results-to-show="10"-->
                    <!--&gt;</auto-complete>-->
                <!--</tags-input>-->


                <!--<label class="col-sm-4 control-label">Cut Off</label>-->
                <!--<md-datepicker ng-model="model.project.logWorkCutOffTime"></md-datepicker>-->

                <!--<label class="col-sm-4 control-label">Start Date</label>-->
                <!--<md-datepicker ng-model="model.project.startDate"></md-datepicker>-->

                <!--<label class="col-sm-4 control-label">End Date</label>-->
                <!--<md-datepicker ng-model="model.project.endDate"></md-datepicker>-->
                <!--<button type="submit" ng-click="model.save(model.project)"-->
                        <!--class="btn btn-default">Add Project-->
                <!--</button>-->
            <!--</div>-->

            <div layout="column" ng-cloak class="md-inline-form">

                <md-content layout-padding>
                    <div>
                        <form name="userForm">
                            <md-input-container class="md-block">
                                <label>Project Name</label>
                                <input ng-model="model.project.projectName">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Client Name</label>
                                <input ng-model="model.project.clientName">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Region Name</label>
                                <input ng-model="model.project.region">
                            </md-input-container>

                            <md-checkbox name="tos" ng-model="model.project.emailConfig.dailyStatusEnabled" required>
                                Daily StatusEmail
                            </md-checkbox>

                            <md-input-container md-no-float class="md-block">
                                <input ng-model="user.address2" placeholder="Address 2">
                            </md-input-container>

                            <md-contact-chips
                                    ng-model="model.tagsTo"
                                    md-contacts="model.loadUsers($query)"
                                    md-contact-name="name"
                                    md-contact-image="image"
                                    md-contact-email="email"
                                    md-require-match="true"
                                    md-highlight-flags="i"
                                    filter-selected="model.filter"
                                    placeholder="To">
                            </md-contact-chips>

                            <md-contact-chips
                                    ng-model="model.tagsCc"
                                    md-contacts="model.loadUsers($query)"
                                    md-contact-name="name"
                                    md-contact-image="image"
                                    md-contact-email="email"
                                    md-require-match="true"
                                    md-highlight-flags="i"
                                    filter-selected="model.filter"
                                    placeholder="To">
                            </md-contact-chips>

                            <md-contact-chips
                                    ng-model="model.tagsTo"
                                    md-contacts="model.loadUsers($query)"
                                    md-contact-name="name"
                                    md-contact-image="image"
                                    md-contact-email="email"
                                    md-require-match="true"
                                    md-highlight-flags="i"
                                    filter-selected="model.filter"
                                    placeholder="To">
                            </md-contact-chips>

                            <md-input-container class="md-block">
                                <label>Biography</label>
                                <textarea ng-model="user.biography" md-maxlength="150" rows="5"
                                          md-select-on-focus></textarea>
                            </md-input-container>

                        </form>
                    </div>
                </md-content>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button md-autofocus>
                More
            </md-button>
            <span flex></span>
            <md-button>
                Not Useful
            </md-button>
            <md-button>
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
